@import '../../styles/vars';

.questionText {
  font-size: $main-font-size;
}

.radioInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    margin: 0;
  }
  p {
    margin-left: 10px;
  }
}
