@import '../../styles/vars';

.header {
  background-color: $base-color;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  p {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
    color: $white-color;
    cursor: pointer;
    user-select: none;
  }
}
