@import '../../styles/vars';

.header {
  background-color: $main-color;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  user-select: none;
  a {
    text-decoration: none;
  }
  p {
    margin-right: 15px;
    margin-left: 15px;
    font-size: $main-font-size;
    color: $white-color;
    cursor: pointer;
  }
}
